<%= form_for(@client) do   %>
<table class="table">
  <tr>
    <td class="align_left">
      name:
    </td>
    <td>
      <%= text_field_tag :name, "#{@user.name}",:class=>"form-control" %>
    </td>
  </tr>
  <tr>
    <td class="align_left">
      email:
    </td>
    <td>
      <%= text_field_tag :email,"#{@user.email}",:class=>"form-control"  %>
    </td>
  </tr>
  <tr>
    <td class="align_left">
      telephone:
    </td>
    <td>
      <%= text_field_tag :telephone  ,"#{@user.telephone}",:class=>"form-control" %>
    </td>
  </tr>
  <tr>
    <td class="align_left">
      company:
    </td>
    <td>
      <%= text_field_tag :company_name  ,"#{@client.company_name}",:class=>"form-control" %>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
     <table>
       <tr>
         <td>
           <%=  submit_tag("Update", :class => 'btn btn-default') %>
         </td>
         <td>
           <%= link_to 'Show', @client,:class=>"btn btn-default" %>
         </td>
         <td>
           <%= link_to 'Back', clients_path,:class=>"btn btn-default" %>
         </td>
       </tr>
     </table>
    </td>
  </tr>

</table>
<% end %>
