<%= form_tag :action => :create, :method => :post do   %>

    <div class="field">name:  <br>
        <%= text_field_tag :name %>
      </div>
      <div class="field">email:<br>
        <%= text_field_tag :email %>
      </div>


        <div class="field">telephone: <br>
         <%= text_field_tag :telephone %>
        </div>

        <div class="field">
        company:  <br>
         <%= text_field_tag :company_name %>

          </div>
    <div class="actions">
    <%=  submit_tag("Save", :class => 'button big') %>
    </div>
<% end %>
