<div>
<%=link_to :Clients,leads_path,:style=>"color:black"%><br>
<%=link_to :Clients,leads_path,:style=>"color:black"%><br>
<%=link_to :Clients,leads_path,:style=>"color:black"%><br>
<%=link_to :Clients,leads_path,:style=>"color:black"%><br>
<%=link_to :Clients,leads_path,:style=>"color:black"%><br>
<%=link_to :Clients,leads_path,:style=>"color:black"%><br>
<%=link_to :Clients,leads_path,:style=>"color:black"%><br>
<%=link_to :Clients,leads_path,:style=>"color:black"%><br>
<%=link_to :Clients,leads_path,:style=>"color:black"%><br>
</div>
