<%=pageHeader("Clients")%>
<div id="page-container">
  <%i = 0%>
  <%@clients.each do |client| %>
      <div id="record" lang="<%=i%>" class="row leads" onmouseover="dsiplay_circle(this);" onmouseout="hide_circle(this);" style="">
        <section class="position_relative">
          <p id="title">
            <span id="active">Active</span>
            <%=link_to("#{client.name}",client_path(id:client.id))%>
          </p>
          <p id="description">
            <%=Client.find(client.id).company_name%>
          </p>
          <section id="edit-destroy-link">
            <div class="dropdown">
              <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
                <img src="/images/settings.png" height="25" id="<%=i%>" onclick="show_menu(this);" width="25"/>
              </a>
              <ul class="dropdown-menu" onmouseout="hide_block(this);" onmouseover="display_block(this);" id="menu<%=i%>"  role="menu" aria-labelledby="dLabel">
                <li><%=link_to('Edit', edit_client_path(id:client.id))%></li>
                <li><%#=link_to('Destroy', client, method: :delete, data: { confirm: 'Are you sure?' })%></li>
              </ul>
            </div>
          </section>
        </section>
      </div>
      <hr/>
      <%i = i+1%>
  <%end%>
</div>



















<!--<div class="row">
  <div class="col-lg-12">
       <h2>Clients</h2>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-lg-12">
    <table class="table">
        <%# @clients.each do |client| %>
        <tr>
          <td>
            <%#=link_to "#{client.name}",client_path(client.id)%>
          </td>
        </tr>
        <% #end %>
    </table>
  </div>
</div>

<br/>

<table>
  <tr>
    <td>
        <%#= link_to 'New Client', new_client_path,:class=>"btn btn-default" %>
    </td>
  </tr>
</table>



<%#= link_to 'Edit', edit_client_path(client),:class=>"btn btn-default" %>
<%#= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-default" %>

!-->