<br/><br/>
<div class="list-group border-margin-client-show">
  <li class="list-group-item border-none">
    <h4 class="list-group-item-heading margin-title">Company name</h4>
    <p class="list-group-item-text"><%= @client.company_name %></p>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Name</h4>
    <p class="list-group-item-text"><%= @user.name %></p>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Login Id</h4>
    <p class="list-group-item-text"><%=@user.login_id%></p>
    <p class="list-group-item-text">
      <a href="<%#="/clients/"%><%#=@lead.client.id%>"><%#=@lead.client.user.name%></a>
    </p>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Telephone</h4>
    <p class="list-group-item-text"><%= @user.telephone %></p>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Email</h4>
    <p class="list-group-item-text"><%= @user.email%></p>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Status</h4>
    <p class="list-group-item-text"><%= @client.status%></p>
  </li>
</div>
<br/>
<h2>Leads</h2>
<br/>
<%if @leads.length == 0%>
    <div class="alert alert-info border-radius-0px">
      <h4>There are no leads to display</h4>
    </div>
<%else%>
    <div class="list-group border-margin-client-show">
    <%@leads.each do |lead|%>
      <li class="list-group-item">
        <h4 class="list-group-item-heading margin-title"><%=link_to "#{lead.title}",lead_path(id:lead.id)%></h4>
        <p class="list-group-item-text"><%= lead.description%></p>
      </li>
    <%end%>
    </div>
<%end%>



