<br/><br/>

<div class="row">
  <div class="col-lg-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
     <table class="table">
        <tr>
          <td class="align_right">
            <b>company name:</b>
          </td>
          <td class="align_left">
            <%= @client.company_name %>
          </td>
        </tr>
       <tr>
         <td class="align_right">
           <b>email:</b>
         </td>
         <td class="align_left">
           <%#= @user.email %>
         </td>
       </tr>
       <tr>
         <td class="align_right">
           <b>telephone:</b>
         </td>
         <td class="align_left">
           <%#= @user.telephone %>
         </td>
       </tr>
       <tr>
         <td class="align_right">
           <b>login:</b>
         </td>
         <td class="align_left">
           <%#= @user.login_id %>
         </td>
       </tr>
     </table>
  </div>
</div>


<h3><b>Leads</b></h3>
<br>

<table class="table">
  <tr>
    <th>
      <b>Title</b>
    </th>
  </tr>
  <%for i in 0..@leads.length-1 %>
      <tr>
        <td>
          <%=link_to @leads[i].title,lead_path(id:@leads[i].id)%>
        </td>
      </tr>
  <%end%>
  <tr><td></td></tr>
</table>

<br>



<div class="row">
  <div class="col-lg-12">
   <table>
     <tr>
       <td>
         <%= link_to 'Edit', edit_client_path(@client),:class=>"btn btn-default" %>
       </td>
       <td>
         <%= link_to 'Back', clients_path,:class=>"btn btn-default" %>
       </td>
     </tr>
   </table>
  </div>
</div>