<%= form_for @client,:id=>"create_client",:remote => true, :html => { :onsubmit => "hide_panel();" } do |f| %>
<h2>Create Client</h2>
<div class="display-block">
  <b>Company</b>
  <%=f.text_field :company_name,:class=>"form-control" %>
</div>
<%= f.fields_for @user do |builder| %>
<div class="display-block">
   <b>Name</b>
   <br/>
   <%=builder.text_field :name,:value=>"#{params[:search]}",:class=>"form-control" %>
</div>
<div class="display-block">
   <b>Password</b>
   <br/>
   <%=builder.password_field :password,:class=>"form-control" %>
</div>
<div class="display-block">
  <b>Email</b>
  <br/>
  <%=builder.text_field :email,:class=>"form-control" %>
</div>
<div class="display-block">
  <b>Login id</b>
  <br/>
  <%=builder.text_field :login_id,:class=>"form-control" %>
</div>
<div class="display-block">
  <b>Telephone</b>
  <br/>
  <%=builder.text_field :telephone,:class=>"form-control" %>
</div>
<div class="display-block">
  <%=builder.hidden_field :userable_type,:value=>"Client",:class=>"form-control" %>
</div>
<%end%>
<br/>
<div class="display-block">
<%=f.hidden_field :status,:value=>"Active",:class=>"form-control" %>
</div>
<div class="display-block">
  <b>
    <%=submit_tag "Create client",:class=>"form-control"%>
  </b>
  <input type="button" value="Cancel" onclick="hide_panel();" class="form-control">
   <%=hidden_field_tag :request_page,"leads"%>
</div>
<%end%>
