<br>
<%= form_for(@lead) do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% @lead.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table">
    <tr>
      <td>
        <%= f.label :client_id %>
      </td>
      <td>
        <%@profile = Profile.find_by_sql("select c.id, p.name from clients c, profiles p where c.id = p.profileable_id and p.profileable_type='Client' and c.status='Active'")%>
        <%=select_tag "clients",options_from_collection_for_select(@profile,"id", "name"),:class=>"form-control", :include_blank => 'None'%>
    </tr>
    <tr>
      <td>
         <%= f.label :title %>
      </td>
      <td>
         <%= f.text_field :title,:class=>"form-control" %>
      </td>
    </tr>
    <tr>
      <td>
         <%= f.label :description %>
      </td>
      <td>
         <%= f.text_area :description,:class=>"form-control"  %>
      </td>
    </tr>

    <td>
    </td>
    <td>
         <%= f.submit :Save,:class=>"btn btn-default" %>
         <%= link_to 'Back', leads_path,:class=>"btn btn-default" %>
    </td>
  </div>
  </table>
<% end %>
