<script type="text/javascript" language="javascript">

    function find_client(x)
    {
      $.ajax({
          url:'/leads/get_client_names',
          type:'post',
          data:'search='+ x.value
      });
    }

   function get_client_name(x)
   {
      var list = document.getElementById("items");
      for (var j = 0; j < list.options.length; j++)
      {
         if (x.value == list.options[j].value)
         {
            document.getElementById("client_id").value = list.options[j].label;
         }
      }
   }

</script>


<br>
<%= form_for(@lead) do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>
      <ul>
      <% @lead.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <table class="table">
        <tr>
          <td>
            <%= f.label :client_id %>
          </td>
          <td>
            <input type="text" id="clients" name="names" list="items" oninput="get_client_name(this);"  onkeyup="find_client(this);" autocomplete="off" class="form-control"/>
            <input type="hidden" name="names" id="client_id">
            <div id="client">
            </div>
          </td>
        </tr>
        <tr>
          <td>
         <%= f.label :title %>
           </td>
           <td>
         <%= f.text_field :title,:class=>"form-control" %>
           </td>
        </tr>
        <tr>
           <td>
         <%= f.label :description %>
           </td>
           <td>
         <%= f.text_area :description,:class=>"form-control" %>
            </td>
        </tr>
        <tr>
          <td colspan="2">
            <%= f.submit :Save,:class=>"form-control"%>
          </td>
        </tr>
         <%#= link_to 'Back', leads_path %>
      </table>
 <% end %>
<div style="position: absolute;top: 10%;z-index: 1000;background: #ffffff;border: 2px solid green;left: 50%" id="create_client">

</div>
