
<script>
  function toggle_div()
  {
     $("#search-date").toggle();
  }
</script>

<%#=pageHeader("Leads")%>
<header id="page-header">
  <section id="page-title" class="float-left">
   <h2><%=controller.controller_name%></h2>
  </section>
  <section  id="search-link" class="float-right">
  <div class="float-left">

    <%= form_tag "#{ controller.controller_name}", :method => :get do %>
      <div class="float-left">
      <%= submit_tag "Search", :name => nil,:style=>"display:inline;width:70px",:class=>"form-control" %>
      <%= text_field_tag :search, params[:search],:class=>"form-control",:style=>"width:150px;display:inline"%>
      </div>
      <div class="float-right" style="background: #AAAAAA;border: 1px solid #AAAAAA">
        <a href="#" onclick="toggle_div();return false;" style="padding: -5px 0px 0px 0px" >
          <img src="/images/download.jpg" height="30" width="30"/>
        </a>
      </div>
    <% end %>
  </div>
  <div class="float-right">
    <button type='button' onclick='display_aside();' class='btn btn-default btn-sm margin-left hidden-lg'><span class='glyphicon glyphicon-align-justify'></span></button>
  </div>
  <div class="clear-both">
  </div>
  </section>
</header>
<div class="clear-both">
</div>
<br/>
<hr class="margin-top-25px"/>

<div id="search-date">
 <%= render 'advance_datepicker/datepicker' %>
</div>
<div class='clear-both'>
</div>
<hr/>
<div id="page-container">
  <%i = 0%>
  <%@leads.each do |lead|%>
      <div id="record" lang="<%=i%>"  class="row" onmouseover="dsiplay_circle(this);" onmouseout="hide_circle(this);">
        <section class="position_relative">
          <p id="title">
            <span id="active">Active</span>
            <%=link_to("#{lead.title}",lead_path(id:lead.id))%>
            -
            <%=link_to("#{lead.client.user.name}",client_path(id:lead.client.id))%>
          </p>
          <p id="description">
            <%=lead.description%>
          </p>
          <section id="edit-destroy-link">
            <div class="dropdown">
              <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
                <img src="/images/settings.png" height="25" id="<%=i%>" onclick="show_menu(this);" width="25"/>
              </a>
              <ul class="dropdown-menu" onmouseout="hide_block(this);" onmouseover="display_block(this);" id="menu<%=i%>"  role="menu" aria-labelledby="dLabel">
                <li><%=link_to('Edit', edit_lead_path(lead))%></li>
                <li><%=link_to('Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' })%></li>
              </ul>
            </div>
          </section>
        </section>
        <div class="clear-both">
        </div>
      </div>
      <hr/>
      <%i = i+1%>
  <%end%>
</div>

















