<div class="row align_center">
  <div class="col-lg-12">
    <%=image_tag("/images/nextbridge.png" ,:size => "150x150", :alt => "Edit Entry")%>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
      <h1>Listing leads</h1>
      <br/>
        <table class="table">
          <tr class="background_color">
           <th class="color">Title</th>
           <th class="color">Description</th>
           <th class="color">Client</th>
           <th></th>
           <th></th>
           <th></th>
        </tr>

        <% @leads.each do |lead| %>
          <tr>
           <td><%= lead.title %></td>
           <td><%= lead.description %></td>
           <td><%= lead.client_id %></td>
           <td><%= link_to 'Show', lead ,:class=>"btn btn-default"%></td>
           <td><%= link_to 'Edit', edit_lead_path(lead),:class=>"btn btn-default" %></td>
           <td><%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-default" %></td>
          </tr>
        <% end %>
       </table>
  </div>
</div>
<br />
<div class="row">
  <div class="col-lg-12">

    <table>
      <tr>
        <td>
          <%= link_to 'New Lead', new_lead_path,:class=>"btn btn-default" %>
        </td>
        <td>
          <%= link_to 'Profiles', profiles_path,:class=>"btn btn-default" %>
        </td>
        <td>
          <%= link_to 'Projects', projects_path,:class=>"btn btn-default" %>
        </td>
      </tr>
    </table>

  </div>
</div>