<script>
  function show_menu(x)
  {
     $("#menu"+ x.id).toggle(100);
  }
</script>

<div class="row">
  <div class="col-lg-12">
      <div class="float_left">
        <h2 class="page_title_color">Leads</h2>
      </div>
      <div class="float_right" style="margin: 4% -2% 0 0">
       <span><%=link_to :Search%></span>
      </div>
      <hr class="margin"/>
      <br/>
        <%i = 0%>
        <% @leads.each do |lead| %>
            <div class="row" style="padding: 0 0 0 1%">

              <div>
                 <span style="color: #808080">Lead :</span>
                 <span><%=link_to "#{lead.title}",lead_path(id:lead.id)%>
                 </span>
               </div>

               <div>
                 <span style="color: #808080">Description :</span><%= lead.description %>
               </div>

              <%@client = Profile.where(profileable_id:lead.client_id)%>

              <div>
                <span style="color: #808080">Client :</span><%=@client[0].name%>
              </div>
              <br>
              <div>
                <div><a href="#" onclick="return false;"><img src="/images/settings.png" height="25" id="<%=i%>" onclick="show_menu(this);" width="25"></a></div>
                <div style="width: 100px;height:70px;background: #ffffff;position: absolute;z-index: 1000;display: none" id="menu<%=i%>">
                  <table class="table" style="border: 1px solid #DDDDDD;width: 100%;height: 100%">
                    <tr>
                      <td>
                        <%= link_to 'Edit', edit_lead_path(lead)%>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' }%>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <hr>
          <%i = i+1%>
        <% end %>
  </div>
</div>

<br />
<div class="row">
  <div class="col-lg-12">
    <table>
      <tr>
        <td>
          <%= link_to 'New Lead', new_lead_path,:class=>"btn btn-default" %>
        </td>
        <td>
          <%= link_to 'Projects', projects_path,:class=>"btn btn-default" %>
        </td>
      </tr>
    </table>
  </div>
</div>
