<%if !notice.blank?%>
  <!--<div class="alert alert-success"><p id="notice"><%#= notice %></p></div> !-->
<%end%>
<% notice = "" %>

<br/>
<div class="margin-right float-right">
  <%= form_tag("/leads/convert_to_project", method: "post") do %>
    <%=hidden_field_tag :lead_id,"#{@lead.id}"%>
    <%= submit_tag "Convert To Project",:class=>"form-control convert-to-project"%>
  <%end%>
</div>

<div class="clear-both">
</div>

<div class="list-group border-margin-client-show">
  <li class="list-group-item border-none">
    <h4 class="list-group-item-heading margin-title">Title</h4>
    <p class="list-group-item-text"><%= @lead.title %></p>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Description</h4>
    <p class="list-group-item-text"><%= @lead.description %></p>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Client</h4>
    <p class="list-group-item-text">
      <a href="<%="/clients/"%><%=@lead.client.id%>"><%=@lead.client.user.name%></a>
    </p>
  </li>
</div>


