
<br>
<div class="row">
  <div class="col-lg-12">
    <%if !notice.blank?%>
       <div class="alert alert-success"><p id="notice"><%= notice %></p></div>
    <%end%>
    <% notice = "" %>
    <br>
    <% #if can? %>
    <div style="float: right ">
      <form method="post" action="/leads/convert_to_project">
        <input type="hidden" name="title" value="<%=@lead.title%>"/>
        <input type="hidden" name="date" value="<%=DateTime.now%>"/>
        <input type="hidden" name="status" value="<%=true%>"/>
        <input type="hidden" name="lead_id" value="<%=@lead.id%>"/>
        <input type="hidden" name="client_id" value="<%=@lead.client_id%>"/>
       <input type="submit"  value="Convert To Project" class="form-control"/>
      </form>
    </div>
        <%# end %>
    <table class="table">
      <tr>
        <td>
          <b>Title:</b>
        </td>
        <td>
          <p><%= @lead.title %></p>
        </td>
      </tr>
      <tr>
        <td>
          <b>Description:</b>
        </td>
        <td>
          <p><%= @lead.description %></p>
        </td>
      </tr>
      <tr>
        <td>
          <b>Client:</b>
        </td>

        <td>
          <p><%=link_to "#{@lead.client.user.name}", client_path(@lead.client.id) %></p>
        </td>
      </tr>
    </table>
   </div>
</div>
<br/>
<table class="table">
  <tr>
    <td>
      <%= link_to 'Edit', edit_lead_path(@lead),:class=>"btn btn-default" %>
      <%= link_to 'Back', leads_path,:class=>"btn btn-default" %>
    </td>
  </tr>
</table>