<script>

  function find_client_name(x)
  {
      $.ajax({
          url: "/projects/get_client_name",
          type: "get",
          data: "lead_id="+ x.value
      });

  }

</script>

<%= form_for(@project) do |f| %>
    <% if @project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
          <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="display-block">
      <%= f.label :title %>
      <%= f.text_field :title,:class=>"form-control"%>
    </div>
    <div class="display-block">
      <%= f.label :start_date %><br/>
      <input type="datetime-local" name="bdaytime">
    </div>
    <div class="display-block">
      <%= f.label :pm_name %>
      <%=select_tag "pm", options_from_collection_for_select(@project_manager, "id", "name"),:class=>"form-control" ,include_blank: true%>
    </div>
    <div class="display-block">
      <%= f.label "Client Name" %>
      <%= text_field_tag :client_name,nil,:class=>"form-control",:readonly=>true%>
      <%=hidden_field_tag :client_id%>
    </div>
    <br/>
    <div class="display-block">
      <%= f.submit :Save,:class=>"btn btn-default" %>
      <%= link_to 'Back', projects_path,:class=>"btn btn-default" %>
    </div>
    <br/>
<%end%>