<div>
<%=link_to :Projects,leads_path,:style=>"color:black"%><br>
<%=link_to :Projects,leads_path,:style=>"color:black"%><br>
<%=link_to :Projects,leads_path,:style=>"color:black"%><br>
<%=link_to :Projects,leads_path,:style=>"color:black"%><br>
<%=link_to :Projects,leads_path,:style=>"color:black"%><br>
<%=link_to :Projects,leads_path,:style=>"color:black"%><br>
<%=link_to :Projects,leads_path,:style=>"color:black"%><br>
<%=link_to :Projects,leads_path,:style=>"color:black"%><br>
<%=link_to :Projects,leads_path,:style=>"color:black"%><br>
</div>
