

<div class="row">
  <div class="col-lg-12">

    <br>

       <table class="table">
         <tr class="color background_color">
           <th >Title</th>
           <th>Start date</th>
           <th>Pm name</th>
           <th>Status</th>
           <th>Lead</th>
           <th>Client</th>
           <th>Resource</th>
           <th></th>
           <th></th>
           <th></th>
         </tr>

        <% @projects.each do |project| %>
          <tr>
            <td><%= project.title %></td>
            <td><%= project.start_date %></td>
            <%@profile = Profile.find_by_profileable_id(project.id)%>
            <td><%= @profile.name %></td>
            <td><%= project.status %></td>
            <td><%= project.lead_id %></td>
            <td><%= project.client_id %></td>
            <td><%#= project.resource_id %></td>
            <td><%= link_to 'Show', project ,:class=>"btn btn-default"%></td>
            <td><%= link_to 'Edit', edit_project_path(project),:class=>"btn btn-default" %></td>
            <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-default" %></td>
          </tr>
        <% end %>
    </table>
  </div>
</div>


<br />
<div class="row">
  <div class="col-lg-12">

    <table>
      <tr>
        <td>
          <%= link_to 'Profiles', profiles_path,:class=>"btn btn-default" %>
        </td>
        <td>
          <%= link_to 'Leads', leads_path,:class=>"btn btn-default" %>
        </td>
        <td>
          <%= link_to 'New Project', new_project_path,:class=>"btn btn-default" %>
        </td>
      </tr>
    </table>

  </div>
</div>