<div class="row align_center">
  <div class="col-lg-12">
    <%=image_tag("/images/nextbridge.png" ,:size => "150x150", :alt => "Edit Entry")%>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
     <h1>Listing projects</h1>
    <br>

       <table class="table">
         <tr class="color background_color">
           <th >Title</th>
           <th>Start date</th>
           <th>Pm name</th>
           <th>Status</th>
           <th>Lead</th>
           <th>Client</th>
           <th>Resource</th>
           <th></th>
           <th></th>
           <th></th>
         </tr>

        <% @projects.each do |project| %>
          <tr>
            <td><%= project.title %></td>
            <td><%= project.start_date %></td>
            <td><%= project.pm_name %></td>
            <td><%= project.status %></td>
            <td><%= project.lead_id %></td>
            <td><%= project.client_id %></td>
            <td><%= project.resource_id %></td>
            <td><%= link_to 'Show', project %></td>
            <td><%= link_to 'Edit', edit_project_path(project) %></td>
            <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    </table>
  </div>
</div>


<br />
<div class="row">
  <div class="col-lg-12">

    <table>
      <tr>
        <td>
          <%= link_to 'Profiles', profiles_path,:class=>"btn btn-default" %>
        </td>
        <td>
          <%= link_to 'Leads', leads_path,:class=>"btn btn-default" %>
        </td>
      </tr>
    </table>

  </div>
</div>