<div class="row align_center">
  <div class="col-lg-12">
        <%=image_tag("/images/nextbridge.png" ,:size => "150x150", :alt => "Edit Entry")%>
  </div>
</div>

<div class="row align_center">
  <div class="col-lg-12">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

   <table class="table-responsive" align="center" >
     <tr>
       <td class="align_right">
         <h6><%= f.label :login %></h6>
       </td>
       <td class="align_left padding_left">
         <%= f.text_field :login,:class=>"form-control", :autofocus => true %>
       </td>
     </tr>
     <tr>
       <td class="align_right">
         <h6><%= f.label :password %></h6>
       </td>
       <td class="align_left padding_left">
         <%= f.password_field :password,:class=>"form-control" %>
       </td>
     </tr>
     <% if devise_mapping.rememberable? -%>
     <tr>
       <td class="align_right">
         <%= f.check_box :remember_me %>
       </td>
       <td class="align_left padding_left">
         <h6><%= f.label :remember_me %></h6>
       <td>
     </tr>
  <% end -%>
     <tr>
       <td>
       </td>
       <td class="align_left padding_left">
         <%= f.submit "Sign in",:class=>"btn btn-default" %>
       </td>
     </tr>
<% end %>
     </table>
  </div>
</div>



<%= render "devise/shared/links" %>
