<br/>
<table class="table">

  <%= form_tag @resource,:method => :put do %>

      <tr>
        <td class="align_left">
          name:
        </td>
        <td>
          <%= text_field_tag :name,"#{@resource.user.name}",:class=>"form-control" %>
        </td>
      </tr>
      <tr>
        <td class="align_left">
          Login id:
        </td>


        <td>
          <%= text_field_tag :login_id,"#{@resource.user.login_id}",:class=>"form-control" %>
        </td>

      </tr>
      <tr>
        <td class="align_left">
          email:
        </td>
        <td>

          <%= text_field_tag :email,"#{@resource.user.email}",:class=>"form-control" %>


        </td>
      </tr>
      <tr>
        <td class="align_left">
          telephone:
        </td>
        <td>
          <%= text_field_tag :telephone,"#{@resource.user.telephone}",:class=>"form-control" %>
        </td>
      </tr>
      <tr>
        <td>
          <table>
            <tr>
              <td>
                <%=  submit_tag("Save", :class => 'btn btn-default') %>
              </td>
              <td>
                <%= link_to 'Back', clients_path,:class=>"btn btn-default" %>
              </td>
            </tr>
          </table>
        </td>
        <td>
        </td>
      </tr>
      </table>
  <% end %>

