<%=pageHeader("Resources")%>
<div id="page-container">
  <%i = 0%>
  <%@resources.each do |resource|%>
      <div id="record" lang="<%=i%>" class="row leads" onmouseover="dsiplay_circle(this);" onmouseout="hide_circle(this);">
        <section class="position_relative">
          <p id="title">
            <span id="active">Active</span>
            <%=link_to("#{resource.user.name}",resource_path(id:resource.id))%>
          </p>
          <p id="description">
            <%@user_roles = resource.user.roles%>
            <%@user_roles.each do |i| %>
                <%= link_to "#{i.name}" , roleassignments_path, :style => "color:#696969" %>
            <%end%>
          </p>
          <section id="edit-destroy-link">
            <div class="dropdown">
              <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
                <img src="/images/settings.png" height="25" id="<%=i%>" onclick="show_menu(this);" width="25"/>
              </a>
              <ul class="dropdown-menu" onmouseout="hide_block(this);" onmouseover="display_block(this);" id="menu<%=i%>"  role="menu" aria-labelledby="dLabel">
                <li><%=link_to('Edit', edit_resource_path(resource))%></li>
                <li><%=link_to('Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' })%></li>
              </ul>
            </div>
          </section>
        </section>
        <div class="clear-both">
        </div>
      </div>
      <hr/>
      <%i = i+1%>
  <%end%>
</div>





















<!--<h1>Listing resources</h1>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% #@resources.each do |resource| %>
  <tr>
    <td><%#=link_to "#{resource.name}",resource_path(resource.id)%></td>
    <td></td>
    <td><%#=resource.name%></td>
    <td><%#= link_to 'Show',resource_path(id:resource.userable_id) %></td>
    <td><%#= link_to 'Edit', edit_resource_path(resource) %></td>
    <td><%#= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% #end %>
</table>

<br />

<%#= link_to 'New Resource', new_resource_path %>
!-->