<p id="notice"><%= notice %></p>

<br/><br/>
<div class="list-group border-margin-client-show">
  <li class="list-group-item border-none">
    <h4 class="list-group-item-heading margin-title">Name</h4>
    <p class="list-group-item-text"><%= @user.name %></p>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Email</h4>
    <p class="list-group-item-text"><%= @user.email %></p>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Login id</h4>
    <p class="list-group-item-text">  <%= @user.login_id %></p>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Telephone</h4>
    <p class="list-group-item-text"><%= @user.telephone %></p>
  </li>
  <% if @user.userable_type == "Client" %>
    <li class="list-group-item">
        <h4 class="list-group-item-heading">Company Name</h4>
        <p class="list-group-item-text"><%#=@client.company_name%></p>
    </li>
  <%end%>
  <li class="list-group-item">
    <p class="list-group-item-text">
      <%= link_to 'Edit', edit_resource_path(@resource),:class=>"btn btn-default" %>
      <%= link_to 'Back', resources_path,:class=>"btn btn-default"%>
    </p>
  </li>
</div>
