<nav class="navbar navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <div class="float_left">
      <a class="navbar-brand" href="#"><%=image_tag("/images/nextbridge.png",:class=>"float_left main_logo",:alt => "Edit Entry")%></a>
    </div>
    <div class="float_left text_color">
      <span><h3>Kantoor</h3></span>
    </div>
  </div>
  <div class="float_right margin_4">
    <div class="float_right">
      <%if !session[:username].blank?%>
          <span>&nbsp;<%=link_to :Signout ,login_abc_path%></span>
      <%else%>
          <span>&nbsp;<%=link_to :Login ,login_new_path,:style=>"color:black"%></span>
      <%end%>
    </div>
    <div class="float_right">
      <span><a href="#" class="text_color">&nbsp; Configuration |</a></span>
    </div>
    <%if !session[:username].blank?%>
    <div class="float_right">
      <span><a href="#" class="text_color">&nbsp; <%=session[:username]%>&nbsp;|</a></span>
    </div>
    <%end%>
  </div>
  <div class="clear_both"></div>
  <!-- Single button -->
  <div class="btn-group hidden-lg">
    <button type="button" onclick="show_toggle();" class="btn btn-default dropdown-toggle form" data-toggle="dropdown">
      <label id="selected_menu">menu</label>&nbsp;&nbsp;&nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu border_none" id="drop" role="menu">
      <div class="list-group">
        <%=link_to :Leads,leads_path,:class=>"list-group-item"%>
        <%=link_to :Projects,projects_path,:class=>"list-group-item"%>
        <%=link_to :Clients,clients_path,:class=>"list-group-item"%>
        <%=link_to :Resources,clients_path,:class=>"list-group-item"%>
        <%=link_to :Directory,clients_path,:class=>"list-group-item"%>
      </div>
    </ul>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="hidden-md hidden-md hidden-sm hidden-xs navbar-collapse navlink_margin border_0px" id="bs-example-navbar-collapse-1">
    <ul class="nav nav-tabs border_0px">
      <li><%=link_to :Leads,leads_path,:class=>"listerner text_color",:id=>"leads"%></li>
      <li><%=link_to :Projects,projects_path,:class=>"listerner text_color",:id=>"projects"%></li>
      <li><%=link_to :Clients,clients_path,:class=>"listerner text_color",:id=>"clients"%></li>
      <li><%=link_to :Resources,clients_path,:class=>"listerner text_color",:id=>"clients"%></li>
      <li><%=link_to :Directory,clients_path,:class=>"listerner text_color",:id=>"clients"%></li>
    </ul>
  </div><!-- /.navbar-collapse -->
  <div class="clear_both"></div>
</nav>


