<div>
<%=link_to :Leads,leads_path,:style=>"color:black"%><br>
<%=link_to :Leads,leads_path,:style=>"color:black"%><br>
<%=link_to :Leads,leads_path,:style=>"color:black"%><br>
<%=link_to :Leads,leads_path,:style=>"color:black"%><br>
<%=link_to :Leads,leads_path,:style=>"color:black"%><br>
<%=link_to :Leads,leads_path,:style=>"color:black"%><br>
<%=link_to :Leads,leads_path,:style=>"color:black"%><br>
<%=link_to :Leads,leads_path,:style=>"color:black"%><br>
<%=link_to :Leads,leads_path,:style=>"color:black"%><br>
</div>
