<!DOCTYPE html>
<html>
<head>
  <title>Microgigz</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link rel="icon" type="image/png" href="/images/nextbridge.png">
</head>

<body onload="change_nav_tabs_background('<%=controller.controller_name%>');">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= render "layouts/navbar" %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8 padding_margin_border">
          <%=yield%>
        </div>

        <div class="row">
          <div class="col-lg-3 side_bar">
             <%if controller.controller_name == "leads"%>
                <div class="visible-lg">
                 <%=render "leads/sidebar"%>
                </div>
             <%elsif controller.controller_name == "projects"%>
                <div class="visible-lg">
                 <%=render "projects/sidebar"%>
                </div>
             <%elsif controller.controller_name == "clients"%>
                <div class="visible-lg">
                 <%=render "clients/sidebar"%>
                </div>
             <%end%>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 padding_left_copyright">
          <span class="text_color_copyright">Copyright (c) 2014 :: Microgigz</span>
        </div>
      </div>
    </div>
</body>
</html>
