<!DOCTYPE html>
<html>
<head>
  <title>Microgigz</title>
  <%=stylesheet_link_tag "application",:media => "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
  <!--favicon!-->
</head>
<!--background: url('abc.png');opacity: 0.5;z-index:-1;background-repeat: no-repeat!-->

<body>
<%if user_signed_in?%>
    <main id="container" class="container">
       <header id="header" class="row">
         <div class="col-lg-12">
            <%=render "layouts/navbar"%>
         </div>
       </header>
       <section id="content" class="row">
         <section class="col-lg-8">
             <%=yield%>
         </section>
         <aside id="related-links" class="col-lg-3 visible-lg">
           <h4 class='color-blue'>Related Links</h4>
           <br/>
           <%@related_links = [{"text"=>"Related Link 1","url"=>"www.google.com"},{"text"=>"Related Link 1","url"=>"www.google.com"},{"text"=>"Related Link 1","url"=>"www.google.com"},{"text"=>"Related Link 1","url"=>"www.google.com"},{"text"=>"Related Link 1","url"=>"www.google.com"}]%>
           <%=aside(@related_links)%>
         </aside>
       </section>
      <footer id="footer" class="row">
        <section class="col-lg-12">
          <p>Copyright 	&copy; 2014 :: Microgigz</p>
        </section>
      </footer>
    </main>
<%else%>
    <%=yield%>
<%end%>
</body>
</html>
